.upload-form {
    display:flex;
    background-color:white;
    box-shadow:0 4px 6px rgba(0, 0, 0, 0.1);
    width:467px;
    border-radius:8px;
    top:0px;
}
.upload-form h2 {
    text-align:center;
    color:#333333;
    font-size:28px;
    margin: 10px 0px;
}
.upload-form input {
    display:flex;
    align-items:center;
    justify-content:center;
    padding:20px 30px;
    width:60%;
    align-self:center;
}
.upload-form button {
    width:80%;
    align-self:center;
    margin:0px 0px 20px 0px;
}
.upload-form p {
    text-align:center;
    margin-top:0px;
}